<template>
<div class="exemple">
  <div class="md-layout  md-alignment-[top]-[center]">
    
      <div class="md-layout-item md-size-50 md-small-size-100  md-large-size-100">
        <form novalidate  @submit.prevent="validateUser">
          <md-card >
            <md-card-header>
              <div class="md-title">Users</div>
            </md-card-header>

            <md-card-content>
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('firstName')">
                    <label for="first-name">First Name</label>
                    <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="form.firstName" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                    <span class="md-error" v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('lastName')">
                    <label for="last-name">Last Name</label>
                    <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="form.lastName" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.lastName.required">The last name is required</span>
                    <span class="md-error" v-else-if="!$v.form.lastName.minlength">Invalid last name</span>
                  </md-field>
                </div>
              </div>

              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('role')">
                    <label for="role">role</label>
                    <md-select name="role" id="role" v-model="form.role" md-dense :disabled="sending">                     
                      <md-option value="couple">Couple</md-option>
                      <md-option value="prestataire">Préstataire</md-option>
                    </md-select>
                    <span class="md-error">The role is required</span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('age')">
                    <label for="age">Age</label>
                    <md-input type="number" id="age" name="age" autocomplete="age" v-model="form.age" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.age.required">The age is required</span>
                    <span class="md-error" v-else-if="!$v.form.age.maxlength">Invalid age</span>
                  </md-field>
                </div>
              </div>

              <md-field :class="getValidationClass('email')">
                <label for="email">Email</label>
                <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
                <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
              </md-field>
              
              
              <md-field :class="getValidationClass('password')">
               <label for="password">Password</label>              
                <md-input type="password" name="password" id="password" autocomplete="password" v-model="form.password" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.password.required">The password is required</span>             
              </md-field>
               
            </md-card-content>

            <md-progress-bar md-mode="indeterminate" v-if="sending" />

            <md-card-actions>
              <md-button type="submit" class="md-primary" :disabled="sending">Create user</md-button>
            </md-card-actions>
          </md-card>

          <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
        </form>
      </div>
    </div>
   </div>
  

</template>

<script>
  import { mapGetters, mapMutations,mapActions } from "vuex";
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'FormValidation',
    mixins: [validationMixin],
    data: () => ({
      
      form: {
        firstName: null,
        lastName: null,
        role: null,
        age: null,
        email: null,
        password: null
      },
      
      userSaved: false,
      sending: false,
      lastUser: null
    }),
    validations: {
      form: {
        firstName: {
          required,
          minLength: minLength(3)
        },
        lastName: {
          required,
          minLength: minLength(3)
        },
        age: {
          required,
          maxLength: maxLength(3)
        },
        role: {
          required
        },
        email: {
          required,
          email
        },
        password: {
          required,
        }

      }
    },
    mounted(){
       this.register();
    },
    computed: {
        ...mapGetters([]),
      },
    methods: {
      
       ...mapActions(["register"]),
     
   
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]
        

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.firstName = null
        this.form.lastName = null
        this.form.age = null
        this.form.role = null
        this.form.email = null
        this.form.password= null
      },
      saveUser () {
        this.sending = true

        // Instead of this timeout, here you can call your API
        window.setTimeout(() => {
          this.lastUser = `${this.form.name} ${this.form.lastName}`
          this.userSaved = true
          this.sending = false
          this.clearForm()
        }, 1500)
      },
      validateUser () {
        this.$v.$touch()


        if (!this.$v.$invalid) {
          this.saveUser();
          if(this.form.role == "couple"){
            
          }else{
            console.log("prestataire");
           
            
          }

        }
        
      }
    }
  }
</script>

<style lang="scss" scoped>
  .md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
</style>