<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        
        <div class="md-layout  md-alignment-[top]-[center]">
          <div
            class="md-layout-item md-size-100  "
          >
          <formcodepen ></formcodepen>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { LoginCard } from "@/components";
import {required,email,password,minlength} from "vuelidate";
import formcodepen from "../components/formcodepen";

export default {
  components: {
    
    LoginCard,
    formcodepen
    
  },
  bodyClass: "login-page",
  data() {
    return {
      objA:"couple",
      objB: "prestataire",
      status: false,
      firstname: null,
      email: null,
      password: null,
      image: "",
    };
  },
  
  props: {
    header: {
      type: String,
      default: require("@/assets/img/profile_city.jpg")
    }
  },
   validations:{
      firstname:{
        required,
       
        },
      email:{
        required,
        email
      } ,
      image:{
        required
      } ,
      password:{
        required,
        password
      },
      status:{
        required
      }
    },
  
  methods: {
    test(status){
      if(status==="couple"){
        console.log("couple");
      }
      else{
        console.log("prestataire");
      }
    },
  },
  computed: {
    
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>

<style lang="css"></style>